* {
  text-align: center;
}

body{
  background-color: black;
  font-family: verdana, arial, sans-serif;
}

.intro{
  font-weight: normal;
  font-size: 50px;
}

.camp{
  padding-bottom: 30px;
}

#copy{
  float: right;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.intro,
h2 {
  color: white;
}

h2 {
  font-weight: 300px;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}
